.banner-container {
  height: 100px;
  background-color: #EA5554;
  margin-bottom: 50px; }

.main-info-container {
  text-align: center; }
  .main-info-container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 90%;
    border-radius: 5px; }
  .main-info-container h2, .main-info-container h3, .main-info-container p {
    color: #515151;
    margin-bottom: 0; }
  .main-info-container .preview-container {
    width: 70%;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px; }
    .main-info-container .preview-container .preview-address, .main-info-container .preview-container .preview-price {
      display: flex;
      justify-content: space-around;
      flex-direction: column; }

.pictures-container {
  display: flex;
  justify-content: space-between;
  margin: 100px auto; }
  .pictures-container img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: 533px;
    border-radius: 5px; }

.extensive-information .extensive-text {
  margin: 100px auto;
  width: 40%;
  text-align: center; }

.extensive-information img {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 80%;
  border-radius: 5px; }

.real-estate-container {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  width: 80%; }
  .real-estate-container .agent-picture img {
    width: 500px;
    border-radius: 5px; }
  .real-estate-container .real-estate-profile {
    color: #515151;
    width: 500px; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #515151;
  font-size: 0.875em; }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #515151; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #515151;
  font-size: 0.875em; }

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #515151; }

input::placeholder, textarea::placeholder {
  color: #515151;
  font-size: 0.875em; }

input:focus::placeholder, textarea::focus:placeholder {
  color: #515151; }

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #515151;
  font-size: 0.875em; }

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #515151; }

/* on hover placeholder */
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #FFFFFF;
  font-size: 0.875em; }

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #FFFFFF; }

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #FFFFFF;
  font-size: 0.875em; }

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #FFFFFF; }

input:hover::placeholder, textarea:hover::placeholder {
  color: #FFFFFF;
  font-size: 0.875em; }

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #FFFFFF; }

input:hover::placeholder, textarea:hover::placeholder {
  color: #FFFFFF;
  font-size: 0.875em; }

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #FFFFFF; }

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto; }

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #515151;
  border: solid 1px teal;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

input:hover {
  background: teal;
  color: #515151; }

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #515151;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px teal;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

textarea:hover {
  background: teal;
  color: #FFFFFF; }

#submit {
  width: 470px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: teal;
  outline: none;
  cursor: pointer;
  border: solid 1px teal;
  border-top: none; }

#submit:hover {
  color: #FFFFFF; }
