@import "components/index";

$greyish: #515151;
$reddish: #DA5A5A;
$whitish : #FFFFFF;

p {
  font-family: 'SabonCyr-Roman';
  color: $greyish;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 0.05rem;
  line-height: 1.6;
}

h3 {
  font-size: 24px;
  font-family: 'SabonCyr-Bold';
  color: $greyish;
  margin-bottom: 0;
  letter-spacing: 0.05rem;
}

hr {
  border-color: $greyish;
  width: 85%;
}

.main-info-container {
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 90%;
    border-radius: 5px;
  }

  h2 {
    font-family: 'SabonCyr-Bold';
    color: $greyish;
    font-size: 40px;
    margin-bottom: 0;
  }

  .bar {
    width: 15%;
    display: inline-block;
    border-bottom: 5px solid $reddish;
  }

  .preview-container {
    width: 70%;
    height: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;

    .preview-address, .preview-price {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
  }
}

.pictures-container {
  display: flex;
  justify-content: space-around;
  margin: 100px auto;

  img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: 533px;
    border-radius: 5px;
  }
}

.extensive-information {

  .extensive-text {
    margin: 100px auto;
    width: 40%;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 80%;
    border-radius: 5px;
  }
}

.real-estate-container {
  margin: 100px auto 50px auto;
  display: flex;
  justify-content: space-around;
  width: 80%;

  .agent-picture img {
    width: 500px;
    border-radius: 5px;
  }

  .real-estate-profile {
    width: 500px;
  }
}

.real-estate-agency {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  width: 70%;

  h3 {
    padding: 25px 50px 50px 50px;
    font-size: 32px;
  }

  p {
    padding: 0 50px 50px 50px;
  }

  .real-estate-services {
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    hr {
      margin: 0 auto;
      width: 80%;
    }

    .service {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      p {
        padding: 0;
        font-size: 20px;
      }
    }

    .fas {
      padding: 50px 0;
      font-size: 48px;
      color: #DA5A5A;
    }
  }

  .real-estate-about {
    margin-top: 50px;
    width: 500px;

    .bar {
      width: 10%;
      display: inline-block;
      border-bottom: 5px solid $reddish;
      position: relative;
      bottom: 50px;
      left: 50px;
    }

    .headline {
      color: $reddish;
      padding-bottom: 0;
    }
  }
}
