@import "components/index";

$greyish: #515151;
$reddish: #DA5A5A;
$whitish: #FFFFFF;

p {
  font-family: 'SabonCyr-Roman';
  color: $greyish;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 0.05rem;
  line-height: 1.6;
}

h3 {
  font-size: 24px;
  font-family: 'SabonCyr-Bold';
  color: $greyish;
  margin-bottom: 0;
  letter-spacing: 0.05rem;
}

hr {
  border-color: $greyish;
  width: 85%;
}

.main-info-container {
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 90%;
    border-radius: 5px;
  }

  h2 {
    font-family: 'SabonCyr-Bold';
    color: $greyish;
    font-size: 40px;
    margin-bottom: 0;
  }

  .bar {
    width: 15%;
    display: inline-block;
    border-bottom: 5px solid $reddish;
  }

  .preview-container {
    width: 70%;
    height: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;

    .preview-address, .preview-price {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
  }
}

.pictures-container {
  display: flex;
  justify-content: space-around;
  margin: 100px auto;

  img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: 533px;
    border-radius: 5px;
  }
}

.extensive-information {

  .extensive-text {
    margin: 100px auto;
    width: 40%;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 80%;
    border-radius: 5px;
  }
}

.real-estate-container {
  margin: 100px auto 50px auto;
  display: flex;
  justify-content: space-around;
  width: 80%;

  .agent-picture img {
    width: 500px;
    border-radius: 5px;
  }

  .real-estate-profile {
    width: 500px;
  }
}

.real-estate-agency {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  width: 70%;

  h3 {
    padding: 25px 50px 50px 50px;
    font-size: 32px;
  }

  p {
    padding: 0 50px 50px 50px;
  }

  .real-estate-services {
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    hr {
      margin: 0 auto;
      width: 80%;
    }

    .service {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      p {
        padding: 0;
        font-size: 20px;
      }
    }

    .fas {
      padding: 50px 0;
      font-size: 48px;
      color: #DA5A5A;
    }
  }

  .real-estate-about {
    margin-top: 50px;
    width: 500px;

    .bar {
      width: 13%;
      display: inline-block;
      border-bottom: 5px solid $reddish;
      position: relative;
      bottom: 50px;
      left: 50px;
    }

    .headline {
      color: $reddish;
      padding-bottom: 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .navbar-container {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;

    .logo {
      font-size: 24px;
      padding: 0;
      position: static;
      border-right: none;
      margin-bottom: 8px;
    }

    .tabs {
      font-size: 12px;
      margin: 0;
      padding: 0 5px;

      .bar {
        bottom: -7px !important;
      }
    }
  }

  .banner-container {
    height: 100px;
    margin-top: 125px;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 18px;
      margin-bottom: 8px;
      text-align: center;
    }

    .register {
      flex-direction: column;
      align-items: center;
    }

    .btn {
      width: 50%;
      padding: 7px !important;
      margin-left: 0 !important;
    }
  }

  .main-info-container {

    h2 {
      font-size: 28px;
    }

    img {
      margin-bottom: 50px;
    }

    .bar {
      width: 40%;
    }

    .preview-container {
      flex-direction: column;
      justify-content: space-evenly;
      width: 320px;

      h3 {
        font-size: 18px;
      }
    }
  }

  .pictures-container {
    flex-direction: column;
    margin: 25px auto;

    img {
      margin-bottom: 25px;
      max-width: 300px;
      max-height: 400px;
    }
  }

  .extensive-information {

    .extensive-text {
      width: 300px;
      margin: 25px auto;
    }

    img {
      margin: 50px auto;
    }
  }

  .real-estate-container {
    flex-direction: column;
    margin-top: 25px;
    width: 300px;

   .agent-picture img {
      width: 300px;
      margin: 25px auto;
    }

    .real-estate-profile {
      width: 300px;
    }
  }

  .real-estate-agency {
    flex-direction: column;
    width: 300px;
    margin: 0 auto;

    .real-estate-services {
      width: 300px;
    }

    .real-estate-about {
      width: 300px;

      h3, p {
        padding: 0 0 25px 0;
      }

      .headline {
        padding-top: 25px 0 0 0;
      }

      .bar {
        width: 22%;
        bottom: 25px;
        left: 0;
      }
    }
  }

  .contact-form {

    #form {
      width: 300px;
      margin-bottom: 50px;

      #submit, input, textarea {
        width: 300px;
      }
    }
  }
}
