$grey: #515151;

.banner-container {
  height: 100px;
  background-color: #EA5554;
  margin-bottom: 50px;
}

.main-info-container {
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 90%;
    border-radius: 5px;
  }

  h2, h3, p {
    color: $grey;
    margin-bottom: 0;
  }

  .preview-container {
    width: 70%;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;

    .preview-address, .preview-price {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
  }
}

.pictures-container {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;

  img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: 533px;
    border-radius: 5px;
  }
}

.extensive-information {

  .extensive-text {
    margin: 100px auto;
    width: 40%;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 80%;
    border-radius: 5px;
  }
}
